@charset "utf-8";
/* CSS Document */
.menu 
{
 margin:10px;
 padding:5px;
}

input
{
margin:5px;
height:30px;
width:200px;
}
input:hover
{
border:1px solid blue;
}
textarea
{
margin-left:300px;
}

.QBlock
{
 background-color:#f1f1f1;
 
 margin:5px;
 padding:10px;
 min-height:100px;
 max-width:600px;
 
}